.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: white;
    color: black;
    border-radius: 4px;

    &:focus { 
	    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
	}

	&_success {
		background-color: #4cae4c;
	}

	&_danger {
		background-color: #d43f3a;
	}

	&_danger, &_success {
	    color: #fff;
	    border: 1px solid transparent;
	}

	&_success + &_danger {
	    margin-left: 5px;
	}
}
